<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">  
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss} Logger:%c '%m' %-5p [Thread: %t] %n" />
    </layout>
  </appender>
  <appender name="isoxmlAppender" class="org.apache.log4j.RollingFileAppender"> 
    <!--  <param name="datePattern" value="'.'yyyy-MM-dd_HH-mm"/> -->
    <param name="file" value="/tmp/isoxmlwebservice.log"/>
    <param name="MaxFileSize" value="10MB"/>
    <param name="MaxBackupIndex" value="10"/>
    <param name="Append" value="true" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss} Logger:%c '%m' %-5p [Thread: %t] %n" />
    </layout> 
  </appender>
 
  <logger name="isoxml" additivity="false">
    <level value="DEBUG"/>
    <appender-ref ref="isoxmlAppender" />
  </logger>
  <root>
     <priority value="ERROR"/>
     <appender-ref ref="isoxmlAppender"/>
  </root>
</log4j:configuration>

